/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

/* Prevent scroll when mobile menu is open */
body.menu-open {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

/* Ensure smooth transitions */
body {
  transition: all 0.3s ease-in-out;
}
.toast-container .ngx-toastr > * {
  @apply truncate;
}
